.workspace {
  background: $dark-primary;
  display: grid;
  grid-area: workspace;
  grid-template-rows: 60px auto;

  .tool-bar {
    display: flex;
    justify-content: center;
    margin: 10px 2px;
  
    input, 
    select {
      margin: 0 10px;
      padding: 5px;
      width: 100%;
      outline: 0;
    }
  }

  .task-list {
    background: #aaa;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;
    align-items: start;
    overflow-y: scroll;
    padding: 10px;
  
    .task {
      background: $dark-bg;
      border-radius: 6px;
      color: $dark-color;
      display: flex;
      flex-direction: column;
      padding: 10px;

      .task__title {
        padding: 5px 0;
        text-align: center; 
      }

      .task__text {
        padding: 5px;
      }

      .task__menu {
        padding: 5px;
        display: flex;
        justify-content: space-between;

        .task__priority {
          color: yellow;
          border: 1px dashed yellow;
          padding: 4px;
        }

        .task__option {
          // border: 0;
          // border-radius: 8px;
          background: transparent;
          color: $dark-color;
          font-size: 1rem;
          padding: 0 5px;
        }
      }
    }

    .task--done {
      position: relative;
      background: #555;
      &::before {
        content: '✓';
        text-align: center;
        background: darkgreen;
        font-size: 1.2rem;
        padding: 3px 6px;
        position: absolute;
        top: -5px;
        right: -5px;
        border-radius: 50%;
      }
    }
  }

}