.workspace {
  background: $dark-primary;
  display: grid;
  grid-area: workspace;
  grid-template-rows: 60px auto;
  position: relative;

  .task-list {
    background: #aaa;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: max-content;
    grid-gap: 10px;
    align-items: start;
    overflow-y: auto;
    padding: 10px;
  
    .task {
      background: $dark-bg;
      border-radius: 6px;
      color: $dark-color;
      display: flex;
      flex-direction: column;
      padding: 10px;
      word-break: break-word;

      .task__title {
        padding: 5px 0;
        text-align: center; 
      }

      .task__text {
        padding: 5px;
      }

      .task__menu {
        padding: 5px 0 0;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .task__priority {
          padding: 4px;
          font-size: 0.6rem;
        }

        .task__priority--low {
          color: lightblue;
          border: 1px dashed lightblue;
        }
        
        .task__priority--normal {
          color: yellow;
          border: 1px dashed yellow;
        }
        
        .task__priority--high {
          color: orangered;
          border: 1px dashed orangered;
        }

        .task__option {
          position: relative;

          .task__option-btn {
            background: transparent;
            color: $dark-color;
            font-size: 1rem;
            padding: 0 5px;
            cursor: pointer;
          }
  
          .task__option-list {
            display: none;
            position: absolute;
            top: -52px;
            right: 20px;
            list-style: none;
            background: #777777ee;
            color: black;
            cursor: pointer;
            user-select: none;
            width: 85px;
            text-align: left;
            z-index: 1;
            border-radius: 6px;
            
            &::before {
              position: absolute;
              content: '';
              top: 50px;
              right: -10px;
              width: 0;
              height: 0;
              border-top: 10px solid transparent;
              border-left: 10px solid #777777ee;
              border-bottom: 10px solid transparent;
            }

            .task__option-item {
              padding: 5px;
            }
  
            .task__option-item:hover {
              font-weight: bold;
            }
          }

        }

      }
    }

    .task--done {
      position: relative;
      background: #555;
      &::before {
        content: '✓';
        text-align: center;
        background: white;
        color: black;
        font-size: 1rem;
        padding: 3px 6px;
        position: absolute;
        top: -5px;
        right: -5px;
        border-radius: 50%;
      }
    }
  }

  @media(min-width: 0px){
    .tool-bar {
      display: grid;
      margin: 0;
      grid-gap: 0;
      grid-template-areas: 
      "search search create"
      "done prior create";
      
      .tool-bar__search {
        grid-area: search;
      }
  
      .tool-bar__state {
        grid-area: done;
      }
  
      .tool-bar__priority {
        grid-area: prior;
      }
  
      .tool-bar__btn {
        grid-area: create;
      }
  
      input, 
      select {
        padding: 5px;
        width: 100%;
      }
    }

    .task-list {
      grid-template-columns: 1fr;
    }

    .task {
      margin: 0 8%;
    }
  }
  
  @media(min-width: 400px){
    .tool-bar {
      padding: 10px;
      grid-gap: 10px;
      grid-template-areas: "search done prior create";
    }
    .task-list {
      grid-template-columns: 1fr 1fr;
    }
    .task {
      margin: 0;
    }
  }
  
  @media(min-width: 600px){
    .task-list {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  @media(min-width: 800px){
    .task-list {
      grid-template-columns: repeat(5, 1fr);
    }
  }

}