.workspace {
  background: var(--primary-color);
  display: grid;
  grid-area: workspace;
  grid-template-rows: 60px auto;
  position: relative;

  .task-list {
    background: var(--secondary-color);
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: max-content;
    grid-gap: 10px;
    align-items: start;
    overflow-y: auto;
    padding: 10px;
  
    .task {
      background: var(--bg-color);
      border-radius: 6px;
      color: var(--font-color);
      display: flex;
      flex-direction: column;
      padding: 10px;
      word-break: break-word;
      box-shadow: 0px 1px 5px 1px grey;

      .task__title {
        padding: 5px 0;
        text-align: center; 
      }

      .task__text {
        padding: 5px;
      }

      .task__menu {
        padding: 5px 0 0;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .task__priority {
          padding: 4px;
          font-size: 0.6rem;
        }

        .task__priority--low {
          color: #2196F3;
          border: 1px dashed #2196F3;
        }
        
        .task__priority--normal {
          color: #4CAF50;
          border: 1px dashed #4CAF50;
        }
        
        .task__priority--high {
          color: #FF5722;
          border: 1px dashed #FF5722;
        }

        .task__option {
          position: relative;

          .task__option-btn {
            background: transparent;
            color: var(--font-color);
            font-size: 1rem;
            padding: 0 5px;
            cursor: pointer;
          }
  
          .task__option-list {
            display: none;
            position: absolute;
            top: -52px;
            right: 20px;
            list-style: none;
            background: var(--option-bg);
            color: var(--font-color);
            cursor: pointer;
            user-select: none;
            width: 85px;
            text-align: left;
            z-index: 1;
            border-radius: 6px;
            
            &::before {
              position: absolute;
              content: '';
              top: 50px;
              right: -10px;
              width: 0;
              height: 0;
              border-top: 10px solid transparent;
              border-left: 10px solid var(--option-bg);
              border-bottom: 10px solid transparent;
            }

            .task__option-item {
              padding: 5px;
            }
  
            .task__option-item:hover {
              font-weight: bold;
            }
          }

        }

      }
    }

    .task--done {
      position: relative;
      background: var(--done);
      &::before {
        content: '✓';
        text-align: center;
        background: var(--done-mark-bg);
        color: var(--done-mark-color);
        font-size: 1rem;
        padding: 3px 6px;
        position: absolute;
        top: -5px;
        right: -5px;
        border-radius: 50%;
      }
    }
  }

  @media(min-width: 0px){
    .tool-bar {
      display: grid;
      margin: 0;
      grid-gap: 0;
      grid-template-areas: 
      "search search create"
      "done prior create";
      
      .tool-bar__search {
        grid-area: search;
      }
  
      .tool-bar__state {
        grid-area: done;
      }
  
      .tool-bar__priority {
        grid-area: prior;
      }
  
      .tool-bar__btn {
        grid-area: create;
      }
  
      input, 
      select {
        padding: 5px;
        width: 100%;
      }
    }

    .task-list {
      grid-template-columns: 1fr;
    }

    .task {
      margin: 0 8%;
    }
  }
  
  @media(min-width: 400px){
    .tool-bar {
      padding: 10px;
      grid-gap: 10px;
      grid-template-areas: "search done prior create";
    }
    .task-list {
      grid-template-columns: 1fr 1fr;
    }
    .task {
      margin: 0;
    }
  }
  
  @media(min-width: 600px){
    .task-list {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  @media(min-width: 800px){
    .task-list {
      grid-template-columns: repeat(5, 1fr);
    }
  }

}