header.header
  h1.header__title TODOList
    i.fas.fa-clipboard-list
  .theme-switch-wrapper
    label.theme-switch(for='checkbox')
      input#checkbox(type='checkbox')
      .slider.round
    em Enable Dark Mode!