main.workspace
  .tool-bar
    input.tool-bar__search(type='text' placeholder='search by title')
    select.tool-bar__state(name="task-state") State
      option(value="all") all
      option(value="done") done
      option(value="open") open
    select.tool-bar__priority(name="task-priority") Priority
      option(value="all") all
      option(value="low") low
      option(value="normal") normal
      option(value="high") high
    input.tool-bar__btn.js-open-modal(type="button", value="Create")
  
  .task-list

  .modal-window
    form.task-form
      label.task-form__label(for="task-form-title") Title
      input.task-form__title(type="text" name="task-form-title" maxlength="60" placeholder="Title")
      label.task-form__label(for="task-form-text") Description
      textarea.task-form__text(name="task-form-text", cols="30", rows="10" maxlength="350" placeholder="Description")
      label.task-form__label(for="task-form-priority") Priority
      select.task-form__priority(name="task-form-priority") Priority
        option(value="low") low
        option(value="normal") normal
        option(value="high") high
      .task-form__btn
        input.task-form__btn-cancel.js-close-modal(type="button", value="Cancel")
        input.task-form__btn-save.js-save-modal(type="button", value="Save")
        input.task-form__btn-create.js-create-modal(type="submit", value="Create")