main.workspace
  .tool-bar
    input.tool-bar__search(type='text' placeholder='search by title')
    select.tool-bar__state(name="task-state") State
      option(value="all") all
      option(value="done") done
      option(value="open") open
    select.tool-bar__priority(name="task-priority") Priority
      option(value="all") all
      option(value="low") low
      option(value="normal") normal
      option(value="high") high
    input.tool-bar__btn.js-open-modal(type="button", value="Create")
  
  .task-list
    .task.task--done
      h3.task__title Test task!
      p.task__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, facilis impedit quas, repudiandae, incidunt quasi fuga consequuntur soluta eum hic qui omnis? Facilis, minima! Accusantium deserunt aut maxime fugit quas!
      .task__menu
        span.task__priority Low
        input.task__option(type="button", value="...")
    .task
      h3.task__title Test task! Test task! 
      p.task__text Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aspernatur, ipsa?
      .task__menu
        span.task__priority Low
        input.task__option(type="button", value="...")
    .task.task--done
      h3.task__title Test task!
      p.task__text Some task for test. Good Luck! Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae aut esse culpa eum cupiditate provident facere ab consequatur voluptates blanditiis ad quaerat, explicabo assumenda atque sit cum magni. Maxime officiis accusamus consectetur minima ad, at quaerat eligendi molestias et dicta ducimus maiores enim iusto impedit nulla? Quasi alias natus ea.
      .task__menu
        span.task__priority Low
        input.task__option(type="button", value="...")