include components/head
include components/header
include components/workspace
include components/footer
script(src="https://kit.fontawesome.com/a2a5e1a9ca.js" crossorigin="anonymous")
script(src='index.js')