$border: #333;
$dark-bg: #333;
$dark-primary: #666;
$dark-color: #eee;

:root {
  --primary-color: #ccc;
  --secondary-color: #dedede;
  --font-color: #222;
  --bg-color: #fff;
  
  --option-bg: #ccccccee;
  --done: #efefef;
  --done-mark-bg: yellowgreen;
  --done-mark-color: #fff;
}

[data-theme="dark"] {
  --primary-color: #666;
  --secondary-color: #aaa;
  --font-color: #eee;
  --bg-color: #333;
  
  --option-bg: #777777ee;
  --done: #555;
  --done-mark-bg: yellowgreen;
  --done-mark-color: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}

a, 
a:active, 
a:hover, 
a:visited { 
  color: var(--font-color);
  text-decoration: none;
  cursor: pointer; 
}

body {
  position: relative;
  display: grid;
  grid-template-rows: 50px calc(100vh - 80px) 30px;
  grid-template-areas: "header" "workspace" "footer";
  font-family: monospace;
  font-size: 14px;
  height: 100vh;
  max-height: 100vh;
  overflow: hidden;
}

@import './style/header.scss';
@import './style/modal.scss';
@import './style/workspace.scss';
@import './style/footer.scss';


